@charset "UTF-8";

body {
    background-image: linear-gradient(90deg, rgba(7, 7, 7, 0.515), rgba(48, 47, 47, 0.737));
    color: rgb(255, 255, 255);
    font: normal 2.3em monospace;
    text-align: center;
    padding: 15px;
}

.script {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 1.5em;
}